{% extends "layout.html" %}

{% from "macros/form_inputs.html" import
    input_csrf_token
    with context
    %}

{% from "macros/general.html" import
        set_account_status_img,
        display_number_of_account_limited,
        display_progress_bar,
        display_filter_by_first_char,
        display_add_domain,
        display_remove_mailbox_days,
        show_pages
        with context
        %}

{% from "macros/msg_handlers.html" import domain_msg_handler with context %}

{% block title %}{{ _('Domains and Accounts') }}{% endblock %}
{% block navlinks_domains %}class="active"{% endblock %}

{% block main %}
{# Show system message #}
{{ domain_msg_handler(msg) }}

    {{ display_filter_by_first_char(baseurl=ctx.homepath + '/domains',
                                    first_char=first_char,
                                    available_chars=all_first_chars,
                                    account_type='domain',
                                    disabled_only=disabled_only) }}

    {# List all domains under control. #}
    <div class="content-box">
        <div class="box-body">
            <div class="box-header clear">
                {% if session.get('is_global_admin') %}
                    <ul class="tabs clear">
                        <li><a href="{{ctx.homepath}}/create/domain"><i class="fa fa-plus"></i> {{ _('Add domain') }}</a></li>
                    </ul>
                {% endif %}

                <h2>
                    {{ _('All domains under your control.') }}
                    {% if total is defined and allDomains|length > 0 %}
                        ({{ (cur_page-1) * page_size_limit + 1 }}-{{ (cur_page-1) * page_size_limit + allDomains|length}}/{{ total }})
                    {% endif %}
                </h2>
            </div>

            <form name="form_domains" id="list_table" method="post" action="{{ctx.homepath}}/domains">
            {{ input_csrf_token() }}
            <table class="style1">
                <thead>
                <tr>
                    {% if session.get('is_global_admin') or session.get('create_new_domains') %}
                        <th class="checkbox"><input type="checkbox" class="checkbox select-all" /></th>
                    {% endif %}
                    <th data-sort="string-ins">{{ _('Domain') }}</th>
                    <th data-sort="string-ins">{{ _('Display Name') }}</th>
                    <th data-sort="int">{{ _('Quota') }}</th>
                    <th data-sort="int">{{ _('Users') }}</th>
                </tr>
                </thead>

                <tbody>
                {% if allDomains %}
                    {# List domain attributes/avalues. #}
                    {% for (dn, entries) in allDomains %}
                        {% set domain = entries.get('domainName')[0] |e %}
                        {% set cn = entries.get('cn', [''])[0] |e %}
                        {% set accountStatus = entries.get('accountStatus', ['disabled'])[0] |e %}
                        {% set mtaTransport = entries.get('mtaTransport', ['dovecot'])[0] |e %}
                        {% set domainBackupMX = entries.get('domainBackupMX', ['no'])[0] |e %}
                        {% set accountSetting = allAccountSettings.get(domain, {}) %}

                        {# Get account limits. #}
                        {% set numberOfUsers = accountSetting.get('numberOfUsers', '0') |int %}

                        {# Get number of current accounts #}
                        {% set domainCurrentUserNumber = entries.get('domainCurrentUserNumber', ['0'])[0] |int %}

                        <tr class="{{ accountStatus |lower }}">
                            {% if session.get('is_global_admin') or session.get('create_new_domains') %}
                                <td class="checkbox vcenter">
                                    <input type="checkbox" class="checkbox " name="domainName" value="{{domain}}" />
                                </td>
                            {% endif %}
                            <td class="vcenter">
                                <a href="{{ctx.homepath}}/profile/domain/general/{{domain}}" title="{{ _('Edit domain profile') }}">{{ domain }}</a>

                                <a href="{{ctx.homepath}}/profile/domain/general/{{domain}}"><i class="fa fa-cog fa-lg fr-space" title="{{ _('Edit domain profile') }}"></i></a>

                                {{ set_account_status_img(status=accountStatus, account_type='domain') }}
                            </td>

                            <td class="vcenter">{{ cn |cut_string }}</td>

                            {# Domain quota #}
                            <td class="vcenter" data-sort-value="{{ domainQuotaBytes }}">
                                {% set used_quota = domain_used_quota.get(domain, {}).get('size', 0) %}

                                <span class="color-grey" title="{{ _('Used') }}">{{ used_quota |file_size_format }}</span> / {{ _('Unlimited') }}
                            </td>

                            {# Users #}
                            <td class="vcenter" data-sort-value="{{ numberOfUsers }}">
                                {% if numberOfUsers != -1 %}
                                    {% if numberOfUsers > 0 %}
                                        {% set percentOfNumberOfUsers = domainCurrentUserNumber |convert_to_percentage(numberOfUsers) %}

                                        <a href="{{ctx.homepath}}/users/{{domain}}" title="{{ _('List all mail users.') }}" style="text-decoration: none; display: block;">{{ percentOfNumberOfUsers }}% <span class="color-grey">({{domainCurrentUserNumber}} {{ display_number_of_account_limited(numberOfUsers) }})</span></a>
                                        {{ display_progress_bar(percentOfNumberOfUsers, style='thin') }}
                                    {% else %}
                                        <a href="{{ctx.homepath}}/users/{{domain}}" title="{{ _('List all mail users.') }}" style="text-decoration: none; display: block; padding: 0 10px 0 10px;">{{domainCurrentUserNumber}}</a>
                                    {% endif %}
                                {% else %}
                                    <span class="color-grey"><em>{{ _('DISABLED') }}</em></span>
                                {% endif %}
                            </td>
                    {% endfor %}
                {% else %}
                    <tr>
                    {% if session.get('is_global_admin') or session.get('create_new_domains') %}
                        <td class="checkbox"></td>
                        <td class="vcenter" colspan="6">{{ _('No mail domain available.') }}
                            {% if not (first_char or disabled_only) %}
                                <a href="{{ctx.homepath}}/create/domain">{{ _('Add one') }}</a>?
                            {% endif %}
                        </td>
                    {% else %}
                        <td class="vcenter" colspan="4">{{ _('No mail domain available.') }}</td>
                    {% endif %}
                    </tr>
                {% endif %}
                </tbody>
            </table>

                <div class="tab-footer clear f1">
                    {% if session.get('is_global_admin') or session.get('create_new_domains') %}
                        <div class="fl">
                            <select name="action" class="fl-space" id="account_list_actions" >
                                <option>{{ _('Choose Action') }}</option>
                                <option disabled>----</option>
                                <option value="enable">{{ _('Enable') }}</option>
                                <option value="disable">{{ _('Disable') }}</option>
                                <option value="delete">{{ _('Delete') }}</option>
                            </select>

                            <select name="keep_mailbox_days" class="fl-space" id="account_delete_date">
                                {% for _day in days_to_keep_removed_mailbox %}
                                <option value="{{ _day }}">{{ display_remove_mailbox_days(_day) }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" name="submit_domains" value="{{ _('Apply') }}" class="button fl-space" />
                        </div>
                    {% endif %}

                    {% set baseurl = ctx.homepath + '/domains' %}
                    {% if disabled_only %}
                        {% set baseurl = ctx.homepath + '/domains/disabled'%}
                    {% endif %}

                    {% set url_suffix = '' %}
                    {% if first_char %}
                        {% set url_suffix = url_suffix + '?starts_with=' + first_char %}
                    {% endif %}

                    {{ show_pages(baseurl=baseurl,
                                  total=total,
                                  cur_page=cur_page,
                                  url_suffix=url_suffix) }}
                </div>
            </form>
        </div>
    </div>

{% endblock main %}
