[general]
# Site webmaster's mail address.
webmaster = michaelbibby@gmail.com

# Debug mode: True, False.
# Warning: Do *NOT* enable debug in product server.
debug = False

# Default skin.
skin = default

# Default language.
lang = en_US

# Database backend: ldap.
backend = ldap

# Base directory used to store all mail data.
# You can find it via command:
#   $ sudo postconf virtual_mailbox_base
storage_base_directory = /var/vmail/vmail01

# Mailbox type: maildir, mbox.
# maildir is recommend for better performance.
mailbox_type = maildir

# Hashed maildir: True, False.
# Example:
#   - hashed: domain.ltd/u/us/use/username-2009.09.04.12.05.33/
#   - non-hashed: domain.ltd/username-2009.09.04.12.05.33/
# hashed maildir is RECOMMEND for better performance.
hashed_maildir = True

# Default quota size (in MB). 0 means unlimited.
default_quota = 1024

# Default mta transport: dovecot.
# Warning: Please DO use 'dovecot' as transport for iRedMail.
mtaTransport = dovecot

# Min/Max password length.
#   - min_passwd_length: 0 means unlimited, but at least 1 character
#                        is required.
#   - max_passwd_length: 0 means unlimited.
min_passwd_length = 6
max_passwd_length = 0

[iredadmin]
# Database used to store iRedAdmin data. e.g. sessions, log.
# NOTE: currently, only mysql dbn is supported.
dbn = mysql
host = localhost
port = 3306
db = iredadmin_ose
user = iredadmin_ose
passwd = secret_passwd

[ldap]
# Settings used for LDAP backend.

# LDAP server uri.
# Warning: LDAPS is not supported yet.
uri = ldap://127.0.0.1:389

# LDAP protocol version. 3 (LDAP v3) is recommend.
protocol_version = 3

# Debug level of LDAP operations: 0, 2, [...], 255.
# Warning: it's not RECOMMEND to increase debug level in product server.
debug_level = 0

# LDAP suffix.
suffix = dc=iredmail,dc=org
basedn = o=domains,dc=iredmail,dc=org
domainadmin_dn = o=domainAdmins,dc=iredmail,dc=org
# Bind dn and password.
# Warning: bind dn should have write privilege in LDAP.
bind_dn = cn=vmailadmin,dc=iredmail,dc=org
bind_pw = passwd

# Default password scheme: SSHA, PLAIN.
# SSHA is recommended.
default_pw_scheme = SSHA

# Size limit.
sizelimit = 500
