[general]
# Site webmaster's mail address.
webmaster = zhb@iredmail.org

# Debug mode: True, False.
# Warning: Do *NOT* enable debug in product server.
debug = False

# Mail detail message of '500 internal server error' to webmaster: True, False.
# If set to True, iredadmin will mail detail error to webmaster when
# it catches 'internal server error' via LOCAL mail server to aid
# in debugging production servers.
mail_error_to_webmaster = False

# Default language.
lang = en_US

# Database backend: ldap.
backend = ldap

# Base directory used to store all mail data.
# iRedMail uses '/var/vmail/vmail1' as default storage directory.
# Tip: You can set a per-domain storage directory in domain profile page.
storage_base_directory = /var/vmail/vmail1

# Default mta transport.
# iRedMail uses 'dovecot' as defualt transport.
# Tip: You can set a per-domain or per-user transport in domain or user
#      profile page.
mtaTransport = dovecot

# Show user login date instead of created date: True, False.
# Please refer to iRedAdmin FAQ if you don't know how to track user last
# login data: http://www.iredmail.org/admin_faq.html
show_login_date = False

# Show percentage of mailbox quota usage. Used in LDAP backend.
# Make sure you have correct dovecot setting by following this tutorial:
# http://iredmail.org/wiki/index.php?title=IRedMail/FAQ/Store.Realtime.Quota.In.MySQL
show_used_quota = True

# Min/Max admin password length.
#   - min_passwd_length: 0 means unlimited, but at least 1 character
#                        is required.
#   - max_passwd_length: 0 means unlimited.
# User password length is controlled in domain profile.
min_passwd_length = 0
max_passwd_length = 0

[iredadmin]
# Database used to store iRedAdmin data. e.g. sessions, log.
host = host_of_iredadmin_sql_server
port = port_of_iredadmin_sql_server
db = iredadmin
user = iredadmin
passwd = password_of_iredadmin_db

############################################################################
# Settings used for LDAP backend.
#
[ldap]

# LDAP server uri.
# Use 'ldaps://127.0.0.1' for SSL/TLS-based secure connection.
uri = ldap://127.0.0.1

# LDAP suffix.
# basedn: dn which contains virtual domains.
# domainadmin_dn: dn which contains virtual domain admins.
basedn = o=domains,dc=iredmail,dc=org
domainadmin_dn = o=domainAdmins,dc=iredmail,dc=org

# Bind dn and password.
#   - bind dn should have write privilege in LDAP.
#   - bind pw is plain text, not encryped/hashed.
bind_dn = cn=vmailadmin,dc=iredmail,dc=org
bind_pw = passwd

############################################################################
# Settings used for Policyd (1.8.x) integration. Provides global
# white-/blacklist, sender/recipient throttling, etc.
#
[policyd]

# Enable policyd integration: True, False.
enabled = True

# SQL Database used to store policyd data, eg. whitelist, blacklist.
# You can find related information in policyd config files:
#   - On RHEL/CentOS:   /etc/policyd.conf
#   - On Debian/Ubuntu: /etc/postfix-policyd.conf
#   - On FreeBSD:       /usr/local/etc/policyd.conf
# Related parameters:
#   host    -> MYSQLHOST
#   port    -> 3306 (Default)
#   db      -> MYSQLDBASE
#   user    -> MYSQLUSER
#   passwd  -> MYSQLPASS
host = host_of_policyd_sql_server
port = port_of_policyd_sql_server
db = policyd
user = policyd
passwd = password_of_policyd_db

##############################################################################
# Settings used for Amavisd-new integration. Provides spam/virus quaranting,
# releasing, etc.
#
[amavisd]

########### Logging into SQL (@storage_sql_dsn) ##########
# Logging into SQL: True, False.
# Log info of incoming/outgoing emails into SQL.
# It's @storage_sql_dsn setting in amavisd. You can find this setting
# in amavisd-new config files:
#   - On RHEL/CentOS:   /etc/amavisd.conf
#   - On Debian/Ubuntu: /etc/amavis/conf.d/50-user.conf
#   - On FreeBSD:       /usr/local/etc/amavisd.conf
logging_into_sql = True

host = host_of_amavisd_sql_server
port = port_of_amavisd_sql_server
db = amavisd
user = amavisd
passwd = password_of_amavisd_db

# #### Quarantining ####
# Release quarantined SPAM/Virus mails: True, False.
#
# iRedAdmin-Pro will connect to @quarantine_server to release quarantined mails.
# How to enable quarantining in Amavisd-new:
# http://www.iredmail.org/wiki/index.php?title=IRedMail/FAQ/Quarantining.SPAM
quarantine = True

# Port of Amavisd protocol 'AM.PDP-INET'. Default is 9998.
quarantine_port = 9998
