[general]
# Version number of iRedAdmin-OSE, don't touch it.
version = 0.1

# Site admin's mail address.
admin = michaelbibby@gmail.com

# Debug mode: True, False.
# Warning: Do *NOT* enable debug in product server.
debug = False

# Default skin.
skin = default

# Default language.
lang = zh_CN

# Database backend: ldap.
backend = ldap

# Base directory used to store all mail data.
storage_base_directory = /var/vmail/vmail01

# Mailbox type: maildir, mbox.
mailbox_type = maildir

# Default quota size (in MB). 0 means unlimited.
default_quota = 1024

# Default mta transport.
mtaTransport = dovecot

[iredadmin]
# Database used to store iRedAdmin data. e.g. sessions, log.
dbn = mysql
host = localhost
port = 3306
db = iredadmin_ose
user = iredadmin_ose
passwd = secret_passwd
db_table_session = sessions

[ldap]
# Settings used for LDAP backend.

# LDAP server uri. use 'ldaps://' for TLS/SSL communite.
uri = ldap://127.0.0.1:389

# LDAP protocol version. 3 (LDAP v3) is recommend.
protocol_version = 3

# Enable TLS/SSL: True, False.
use_tls = False

# Debug level of LDAP communite: 0, 2, [...], 255.
debug_level = 0

# LDAP suffix.
suffix = dc=iredmail,dc=org
basedn = o=domains,dc=iredmail,dc=org
domainadmin_dn = o=domainAdmins,dc=iredmail,dc=org
bind_dn = cn=vmailadmin,dc=iredmail,dc=org
bind_pw = passwd

# Default password scheme: SSHA, PLAIN.
# SSHA is recommended.
default_pw_scheme = SSHA

# Size limit.
sizelimit = 500

[mysql]
# Settings used for MySQL backend.
host = localhost

[policyd]
# Settings used for policyd database.
# Tip: You can get username and password from its config file:
#   - on RHEL/CentOS:   /etc/policyd.conf
#   - on Debian/Ubuntu: /etc/postfix-policyd.conf

host        = localhost
dbn         = mysql
db          = policyd
user        = policyd
password    = passwd

# Limits set how many results are returned. 
sets_limit = 30
