#---------------------------------------------------------------------
# This file is part of iRedAdmin-OSE, which is official web-based admin
# panel (Open Source Edition) for iRedMail.
#
# iRedMail is an open source mail server solution for Red Hat(R)
# Enterprise Linux, CentOS, Debian and Ubuntu.
#
# iRedAdmin-OSE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# iRedAdmin-OSE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with iRedAdmin-OSE.  If not, see <http://www.gnu.org/licenses/>.
#---------------------------------------------------------------------

[general]
# Site webmaster's mail address.
webmaster = michaelbibby@gmail.com

# Debug mode: True, False.
# Warning: Do *NOT* enable debug in product server.
debug = False

# Default skin.
skin = default

# Default language.
lang = en_US

# Database backend: ldap.
backend = ldap

# Base directory used to store all mail data.
# You can find it via command:
#   $ sudo postconf virtual_mailbox_base
storage_base_directory = /var/vmail/vmail01

# Mailbox type: maildir, mbox.
# maildir is recommend for better performance.
mailbox_type = maildir

# Hashed maildir: True, False.
# Example:
#   - hashed: domain.ltd/u/us/use/username-2009.09.04.12.05.33/
#   - non-hashed: domain.ltd/username-2009.09.04.12.05.33/
# hashed maildir is RECOMMEND for better performance.
hashed_maildir = True

# Default quota size (in MB). 0 means unlimited.
default_quota = 1024

# Default mta transport.
# Warning: Please DO use 'dovecot' as transport for iRedMail.
mtaTransport = dovecot

# Show user login date instead of created date: True, False.
# Note: iRedAdmin open source edition doesn't support this feature now.
show_login_date = False

# Min/Max password length.
#   - min_passwd_length: 0 means unlimited, but at least 1 character
#                        is required.
#   - max_passwd_length: 0 means unlimited.
min_passwd_length = 6
max_passwd_length = 0

[iredadmin]
# Database used to store iRedAdmin data. e.g. sessions, log.
# NOTE: currently, only mysql dbn is supported.
dbn = mysql
host = localhost
port = 3306
db = iredadmin
user = iredadmin
passwd = secret_passwd

[ldap]
# Settings used for LDAP backend.

# LDAP server uri.
# Warning: LDAPS is not supported yet.
uri = ldap://127.0.0.1:389

# LDAP protocol version. 3 (LDAP v3) is recommend.
protocol_version = 3

# Trace level of LDAP operations: 0, 2, [...], 255.
# 0 is recommend for production use.
trace_level = 0

# LDAP suffix.
suffix = dc=iredmail,dc=org
basedn = o=domains,dc=iredmail,dc=org
domainadmin_dn = o=domainAdmins,dc=iredmail,dc=org
# Bind dn and password.
# Warning:
#   - bind dn should have write privilege in LDAP.
#   - bind pw is plain text, not encryped/hashed.
bind_dn = cn=vmailadmin,dc=iredmail,dc=org
bind_pw = passwd

# Default password scheme: SSHA, PLAIN.
# SSHA is recommended.
default_pw_scheme = SSHA
