{# version, hostname, uptime, loadavg, #}

{% extends "layout.html" %}
{% from "macros/msg_handlers.html" import success_info, error_info with context %}

{% block title %} {{ _('Dashboard') }} {% endblock %}
{% block navlinks_dashboard %}class="active"{% endblock %}

{% block main %}

{# Checked and get response data #}
{% if session.get('new_version_available') %}
    {{ success_info( _("New version of iRedAdmin, %s, is now available for upgrading. <a href='https://docs.iredmail.org/migrate.or.upgrade.iredadmin.html' class='button green'>Upgrade tutorial</a>.") |format(session.get('new_version') |e), removable=false, trusted=true ) }}
{% elif session.get('new_version_available') is sameas false %}
    {# Error while checking new version #}
    {{ error_info( _('Error while checking new version of iRedAdmin:') + ' ' + session.get('new_version_check_error') |e ) }}
{% endif %}

<div class="columns clear">
    <div class="col1-3">
        <h2>{{ _('System Information') }}</h2>
        <div class="box-wrap clear">
            <table class="basic">
                <tbody>
                    {# Show number of total domains, users, aliases #}
                    <tr>
                        <th>{{ _('Number of domains') }}</th>
                        <td class="full"><a href="{{ctx.homepath}}/domains">{{ num_existing_domains |e }}</a></td>
                    </tr>

                    {% if backend in ['mysql', 'pgsql'] %}
                        <tr>
                            <th>{{ _('Number of users') }}</th>
                            <td class="full">{{ num_existing_users |e }}</td>
                        </tr>
                    {% endif %}

                    {% if session.get('show_used_quota') %}
                        <tr>
                            <th>{{ _('Stored emails') }}</th>
                            <td class="full">{% if total_messages %}{{ total_messages |e }} {{ _('Emails') }}.{% endif %} {% if total_bytes %}{{ total_bytes |file_size_format }}.{% endif %}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>iRedMail</th>
                        <td>{{ iredmail_version }}</td>
                    </tr>
                    <tr>
                        <th>iRedAdmin</th>
                        <td>{{ version |e }}
                            {% if backend == 'mysql' %}
                                (MySQL)
                            {% elif backend == 'pgsql' %}
                                (PostgreSQL)
                            {% elif backend == 'ldap' %}
                                (LDAP)
                            {% endif %}
                        </td>
                    </tr>

                    {# ---- System Information ---- #}
                    <tr>
                        <th>{{ _('Hostname') }}</th>
                        <td>{{ hostname |e }}</td>
                    </tr>

                    {% if uptime is not sameas none and uptime|length == 3 %}
                    <tr>
                        <th>{{ _('Uptime') }}</th>
                        <td>{{ _('%s days, %s hours, %s minutes.') |format(uptime[0] |e, uptime[1] |e, uptime[2] |e ) }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <th>{{ _('Server Load') }}</th>
                        <td>{{ loadavg[0] }}, {{ loadavg[1] }}, {{ loadavg[2] }}</td>
                    </tr>

                    {# ---- Network interfaces and IP info ---- #}
                    {% for netif in netif_data %}
                        <tr>
                            <th>{{ _('Network') }} ({{ netif[0] |e }})</th>
                            <td>{{ netif[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> {# .box-wrap #}
    </div>{# col1-3 #}

    <div class="col2-4">
        <div class="box-wrap clear">
            <h3 style="font-size: 20px;">Upgrade to iRedAdmin-Pro for more features</h3>
            <ul class="standard clean-padding bt-space10">
                <li><a href="https://docs.iredmail.org/iredadmin-pro.restful.api.html">RESTful API interface</a></li>
                <li>Domain level admins. Grant clients to manage their own domains.</li>
                <li>Unlimited mailing list and mail alias accounts</li>
                <li>Manage more domain profiles: forwarding, bcc, relay, alias domain, catch-all</li>
                <li>Manage more user profiles: forwarding, bcc, relay, alias addresses, real-time quota usage report</li>
                <li>Greylisting setting</li>
                <li>Throttle setting</li>
                <li>View basic info of received and sent emails</li>
                <li>Manage quarantined mails</li>
                <li>User self-service: change password, mail forwarding, white/blacklists, spam policy</li>
                <li>Per-domain and per-user service restrictions</li>
                <li>And many more ...</li>
            </ul>
            <a href="https://www.iredmail.org/admin_panel.html" class="button" />Comparison and Pricing</a>
        </div>
    </div><!-- .col2-4 -->
</div>{# .columns #}
{% endblock main %}
