{# version, hostname, uptime, loadavg, #}

{% extends "layout.html" %}
{% from "macros/msg_handlers.html" import success_info, error_info with context %}

{% block title %} {{ _('Dashboard') }} {% endblock %}
{% block navlinks_dashboard %}class="active"{% endblock %}

{% block main %}

{# Checked and get response data #}
{% if session.get('is_global_admin') %}
    {% if session.get('new_version_available') %}
        {{ success_info( _("New version of iRedAdmin, %s, is now available for upgrading. <a href='https://docs.iredmail.org/migrate.or.upgrade.iredadmin.html' class='button green'>Upgrade tutorial</a>.") |format(session.get('new_version') |e), removable=false, trusted=true ) }}
    {% elif session.get('new_version_available') is sameas false %}
        {# Error while checking new version #}
        {{ error_info( _('Error while checking new version of iRedAdmin:') + ' ' + session.get('new_version_check_error') |e ) }}
    {% endif %}
{% endif %}

<div class="columns clear">
    <div class="col1-3">
        <h2>{{ _('System Information') }}</h2>
        <div class="box-wrap clear">
            <table class="basic">
                <tbody>
                    {# Show number of total domains, users, aliases #}
                    <tr>
                        <th>{{ _('Number of domains') }}</th>
                        <td class="full"><a href="{{ctx.homepath}}/domains">{{ num_existing_domains |e }}</a></td>
                    </tr>

                    {% if backend in ['mysql', 'pgsql'] %}
                        <tr>
                            <th>{{ _('Number of users') }}</th>
                            <td class="full">{{ num_existing_users |e }}</td>
                        </tr>
                    {% endif %}

                {% if session.get('is_global_admin') %}
                    {% if session.get('show_used_quota') %}
                        <tr>
                            <th>{{ _('Stored emails') }}</th>
                            <td class="full">{% if total_messages %}{{ total_messages |e }} {{ _('Emails') }}.{% endif %} {% if total_bytes %}{{ total_bytes |file_size_format }}.{% endif %}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>iRedMail</th>
                        <td>{{ iredmail_version }}</td>
                    </tr>
                    <tr>
                        <th>iRedAdmin</th>
                        <td>{{ version |e }}
                            {% if backend == 'mysql' %}
                                (MySQL)
                            {% elif backend == 'pgsql' %}
                                (PostgreSQL)
                            {% elif backend == 'ldap' %}
                                (LDAP)
                            {% endif %}
                        </td>
                    </tr>

                    {# ---- System Information ---- #}
                    <tr>
                        <th>{{ _('Hostname') }}</th>
                        <td>{{ hostname |e }}</td>
                    </tr>

                    {% if uptime is not sameas none and uptime|length == 3 %}
                    <tr>
                        <th>{{ _('Uptime') }}</th>
                        <td>{{ _('%s days, %s hours, %s minutes.') |format(uptime[0] |e, uptime[1] |e, uptime[2] |e ) }}</td>
                    </tr>
                    {% endif %}

                    <tr>
                        <th>{{ _('Server Load') }}</th>
                        <td>{{ loadavg[0] }}, {{ loadavg[1] }}, {{ loadavg[2] }}</td>
                    </tr>

                    {# ---- Network interfaces and IP info ---- #}
                    {% for netif in netif_data %}
                        <tr>
                            <th>{{ _('Network') }} ({{ netif[0] |e }})</th>
                            <td>{{ netif[1] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}{# global admin #}
                </tbody>
            </table>
        </div> {# .box-wrap #}
    </div>{# col1-3 #}
</div>{# .columns #}
{% endblock main %}
