{% extends "layout.html" %}

{% from "macros/general.html" import
        display_csrf_token,
        display_subnav,
        display_input_cn,
        display_preferred_language,
        display_quota,
        display_input_employeeid,
        display_input_jobtitle,
        display_input_mobile,
        display_input_phone,
        display_account_status,
        display_mark_user_as_admin,
        display_reset_password,
        display_random_password,
        display_button_submit,
        with context
        %}

{% from "macros/msgHandlers.html" import userMsgHandler with context %}

{% block title %}{{ _('Edit account profile') }}{% endblock %}
{% block navlinks_active_domains %}class="active"{% endblock %}

{% block breadcrumb %}
    {% set crumbs = [
            (ctx.homepath + '/domains', _('All domains'),),
            (ctx.homepath + '/profile/domain/general/' + cur_domain, cur_domain,),
            (ctx.homepath + '/users/' + cur_domain, _('Users'),),
            ('active', ctx.homepath + '/profile/user/general/' + mail, _('Profile of user:') + '&nbsp;' + mail),
            ]
            %}
    {{ display_subnav(crumbs) }}
{% endblock %}

{% block main %}

{% set input_csrf_token = display_csrf_token() %}

{# Show system message #}
{{ userMsgHandler(msg) }}

{% set navlinks = [
            ('general', _('General'), [true,]),
            ('password', _('Password'), [true,]),
            ]
            %}

<div class="content-box">
    <div class="box-body">
        <div class="box-header clear">
            <ul class="tabs clear">
                {% for nav in navlinks %}
                    {% if not false in nav[2] and not none in nav[2] %}
                        <li><a href="#profile_{{nav[0]}}">{{ nav[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <h2>{{ _('Profile of user:') }} {{ mail }}</h2>
        </div>

        <div class="box-wrap clear">
            <div id="profile_general">
                <form name="general" method="post" action="{{ctx.homepath}}/profile/user/general/{{mail}}">
                    {{ input_csrf_token }}
                    <div class="columns clear">
                        <div class="col2-3">
                            {{ display_account_status(profile.active) }}
                            {{ display_mark_user_as_admin(
                                    is_domain_admin=profile.get('isadmin', 0),
                                    is_global_admin=profile.get('isglobaladmin', 0),
                            ) }}

                            <div class="bt-space10"></div>
                            {{ display_input_cn(profile.name) }}
                            {{ display_preferred_language(value=profile.get('language', 'en_US'), languagemaps=languagemaps) }}
                            {{ display_quota(value=profile.quota, show_value_in_input=true) }}

                            <div class="bt-space10"></div>
                            {{ display_input_employeeid(profile.employeeid) }}
                            {#
                            {{ display_input_jobtitle(jobtitle) }}

                            <div class="bt-space10"></div>
                            {{ display_input_mobile(value=mobile) }}
                            {{ display_input_phone(value=telephoneNumber) }}
                            #}
                        </div>{#-- .col2-3 --#}
                    </div>{#-- .columns --#}

                    {{ display_button_submit() }}
                </form>
            </div>{# #profile_general #}

            <div id="profile_password">
                <form name="password" method="post" action="{{ctx.homepath}}/profile/user/password/{{mail}}">
                    {{ input_csrf_token }}
                    <div class="columns clear">
                        <div class="col3-4">
                            {{ display_reset_password(
                                    show_confirmpw=true,
                                    store_in_plain=true,
                                    )
                            }}
                        </div>
                        <div class="col1-4 lastcol">
                            {{ display_random_password(maxPasswordLength) }}
                        </div>
                    </div>

                    {{ display_button_submit() }}
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock main %}
