{# version, #}
{% extends "layout.html" %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock %}
{% block jquery_docoment_ready %} {% endblock %}
{% block title %} {{ _('Software update') }} {% endblock %}
{% block submenu %}{% endblock submenu %}

{% block main %}

<div class="main-frm">
    <div class="main-subhead">
        <h2 class="hn">{{ _('Check new version') }}</h2>
    </div>

    <div class="sf-group">
        <div class="sf-set group-item1">
            <div class="sf-box text">
                <label><span>{{ _('Current iRedAdmin version') }}</span></label><br />
                <span class="fld-input">{{ version }}</span>
            </div>
            <div class="sf-box text">
                {% if info[0] is not sameas none %}
                    {% if info[0]  > version %}
                    <label><span><strong>{{ _('New version available') }}</strong></span></label><br />
                    <span class="fld-input">{{ info[0] }}&nbsp;&nbsp;<a href="{{ info[1] }}">{{ _('Release note') }}</a>&nbsp;&nbsp;<a href="{{ info[2] }}">{{ _('Download') }}</a></span>
                    {% else %}
                    <label><span>{{ _('Version status:') }}</span></label><br />
                    <span class="fld-input">{{ _('Your iRedAdmin is up to date.') }}</span>
                    {% endif %}
                {% else %}
                    <label><span>{{ _('Error while check new version') }}</span></label><br />
                    <span class="fld-input">{{ info[1] }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock main %}
