{# version, hostname, uptime, loadavg, #}
{% extends "layout.html" %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock %}
{% block jquery_docoment_ready %} {% endblock %}
{% block title %} {{ _('Dashboard') }} {% endblock %}

{% block submenu %}{% endblock submenu %}

{% block main %}

<div class="main-frm">
    <div class="main-subhead">
        <h2 class="hn">{{ _('Available operations') }}</h2>
    </div>

    <div class="ct-group">
        <div class="ct-set group-item1">
            <div class="ct-box">
                <h3 class="ct-legend hn"><span>{{ _('Create new') }}</span></h3>
                <p>
                    {% if session.get('domainGlobalAdmin') == 'yes' %}
                    <span><a href="{{ctx.homepath}}/create/domain">{{ _('Mail Domain') }}</a></span>&nbsp;
                    {#<span><a href="{{ctx.homepath}}/create/admin">{{ _('Domain Admin') }}</a></span>&nbsp;#}
                    {% endif %}
                    <span><a href="{{ctx.homepath}}/create/user">{{ _('Mail User') }}</a></span>&nbsp;
                </p>
            </div>
        </div>
    </div>
</div>

{% if session.get('domainGlobalAdmin') == 'yes' %}
<div class="main-frm">
    <div class="main-subhead">
        <h2 class="hn">{{ _('System info') }}</h2>
    </div>

    <div class="sf-group">
        <div class="sf-set group-item1">
            <div class="sf-box text">
                <label><span>{{ _('iRedAdmin version') }}</span></label><br />
                <span class="fld-input">{{ version }}&nbsp;&nbsp;<a href="{{ctx.homepath}}/checknew">{{ _('Check new version') }}</a></span>
            </div>

            <div class="sf-box text">
                <label><span>{{ _('Hostname') }}</span></label><br />
                <span class="fld-input">{{ hostname }}</span>
            </div>

            {% if uptime is not sameas none and uptime|length == 3 %}
            <div class="sf-box text">
                <label><span>{{ _('Uptime') }}</span></label><br />
                <span class="fld-input">{{ _('%s days, %s hours, %s minutes.') |format(uptime[0], uptime[1], uptime[2]) }}</span>
            </div>
            {% endif %}

            <div class="sf-box text">
                <label><span>{{ _('Server load') }}</span></label><br />
                <span class="fld-input">{{ '%s, %s, %s.' |format(loadavg[0], loadavg[1], loadavg[2]) }}</span>
            </div>
        </div>
    </div>

    {% if netif_data is not sameas none %}
    <div class="main-frm">
        <div class="main-subhead">
            <h2 class="hn">{{ _('Network interfaces') }}</h2>
        </div>

        <div class="sf-group">
            <div class="sf-set group-item1">
                <div class="sf-box text">
                {% for netif in netif_data.items() %}
                <div class="sf-box">
                    <label><span>{{ netif[0] }}</span></label><br />
                    <span class="fld-input">{{ netif[1]['addr'] }}/{{ netif[1]['netmask'] }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endif %}

{% endblock main %}
