{% extends "layout.html" %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock %}
{% block jquery_docoment_ready %} {% endblock %}
{% block title %} {{ _('Dashboard') }} {% endblock %}

{% block main %}
<div class="gen-content">
    <h3>Please report bugs and feature request to our forum or mail to author directly: <a href="mailto:michaelbibby@gmail.com">Zhang Huangbin</a>:</h3>
    <ul>
        <li>English forum: <a href="http://www.iredmail.org/forum/">http://www.iredmail.org/forum/</a></li>
        <li>Chinese forum: <a href="http://www.iredmail.org/bbs/">http://www.iredmail.org/bbs/</a></li>
    </ul>

    <h3>There are demos available of both two editions now:</h3>
    <ul>
        <li>Open Source Edition: <a href="http://demo.iredmail.org/iredadmin-ose/">http://demo.iredmail.org/iredadmin-ose/</a></li>
        <li>Full-featured Edition: <a href="http://demo.iredmail.org/iredadmin-ent/">http://demo.iredmail.org/iredadmin-ent/</a></li>
    </ul>

</div>
{% endblock main %}
