{#
#---------------------------------------------------------------------
# This file is part of iRedAdmin-OSE, which is official web-based admin
# panel (Open Source Edition) for iRedMail.
#
# iRedMail is an open source mail server solution for Red Hat(R)
# Enterprise Linux, CentOS, Debian and Ubuntu.
#
# iRedAdmin-OSE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# iRedAdmin-OSE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with iRedAdmin-OSE.  If not, see <http://www.gnu.org/licenses/>.
#---------------------------------------------------------------------
#}

{# version, hostname, uptime, loadavg, #}
{% extends "layout.html" %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock %}
{% block jquery_docoment_ready %} {% endblock %}

{% block title %} {{ _('Dashboard') }} {% endblock %}
{% block navlinks_active_dashboard %}active{% endblock %}

{% block submenu %}{% endblock submenu %}

{% block main %}

<div class="main-frm">
    <div class="main-subhead">
        <h2 class="hn">{{ _('Available operations') }}</h2>
    </div>

    <div class="ct-group">
        <div class="ct-set group-item1">
            <div class="ct-box">
                <h3 class="ct-legend hn"><span class="add" >{{ _('Create new') }}</span></h3>
                <p>
                    {% if session.get('domainGlobalAdmin') == 'yes' %}
                    <span><a href="{{ctx.homepath}}/create/domain">{{ _('Mail Domain') }}</a></span>&nbsp;
                    <span><a href="{{ctx.homepath}}/create/admin">{{ _('Domain Admin') }}</a></span>&nbsp;
                    {% endif %}
                    <span><a href="{{ctx.homepath}}/create/user">{{ _('Mail User') }}</a></span>&nbsp;
                </p>
            </div>
        </div>

        <div class="ct-set">
            <div class="ct-box">
                <h3 class="ct-legend hn"><span>{{ _('Need more features?') }}</span></h3>
                <p>
                    <span><a href="http://www.iredmail.org/admin_panel.html">{{ _('Purchase Full-featured Edition to support iRedMail project and get more features.') }}</a></span>
                    <span>{{ _('For example:') }}</span>
                </p>
                <ul class="data-list">
                    <li><span>* {{ _('Unlimited number of mail lists') }}</span></li>
                    <li><span>* {{ _('Unlimited number of mail aliases') }}</span></li>
                    <li><span>* {{ _('Per-user mail forwarding control') }}</span></li>
                    <li><span>* {{ _('Per-user service control') }}</span></li>
                    <li><span>* {{ _('Admin type control (Global/Normal Admin)') }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% if session.get('domainGlobalAdmin') == 'yes' %}
<div class="main-frm">
    <div class="main-subhead">
        <h2 class="hn">{{ _('System info') }}</h2>
    </div>

    <div class="sf-group">
        <div class="sf-set group-item1">
            <div class="sf-box text">
                <label><span>{{ _('iRedAdmin version') }}</span></label><br />
                <span class="fld-input">{{ version }}&nbsp;&nbsp;<a href="{{ctx.homepath}}/checknew">{{ _('Check new version') }}</a></span>
            </div>

            <div class="sf-box text">
                <label><span>{{ _('Hostname') }}</span></label><br />
                <span class="fld-input">{{ hostname }}</span>
            </div>

            {% if uptime is not sameas none and uptime|length == 3 %}
            <div class="sf-box text">
                <label><span>{{ _('Uptime') }}</span></label><br />
                <span class="fld-input">{{ _('%s days, %s hours, %s minutes.') |format(uptime[0], uptime[1], uptime[2]) }}</span>
            </div>
            {% endif %}

            <div class="sf-box text">
                <label><span>{{ _('Server load') }}</span></label><br />
                <span class="fld-input">{{ '%s, %s, %s.' |format(loadavg[0], loadavg[1], loadavg[2]) }}</span>
            </div>
        </div>
    </div>
</div>

    {% if netif_data is not sameas none %}
    <div class="main-frm">
        <div class="main-subhead">
            <h2 class="hn">{{ _('Network interfaces') }}</h2>
        </div>

        <div class="sf-group">
            <div class="sf-set group-item1">
                <div class="sf-box text">
                {% for netif in netif_data.items() %}
                <div class="sf-box">
                    <label><span>{{ netif[0] }}</span></label><br />
                    <span class="fld-input">{{ netif[1]['addr'] }}/{{ netif[1]['netmask'] }}</span>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}

{% endblock main %}
