{% extends "layout.html" %}

{% from "macros.html" import set_account_status_img, %}

{% block title %}{{ _('Mail Domains') }}{% endblock %}

{% block id_welcome %}
<span>{{ _('All domains under your control.') }} {{ _('Total: %s.') |format(allDomains|length) }}</span>
{% endblock id_welcome %}

{% block id_visit_links %}
{% if session.get('domainGlobalAdmin') == 'yes' %}
<span><a href="{{ctx.homepath}}/create/domain">{{ _('Create new mail domain') }}</a></span>
{% endif %}
{% endblock id_visit_links %}

{% block main %}
{# Show system message #}
{% if msg is defined and msg is not sameas none %}
    <div class="ct-box info-box">
        {% if msg == 'CREATE_SUCCESS' %}
            <div class="success">{{ _('Domain created success.') }}</div>
        {% else %}
            <div class="error">
            {% if msg == 'SIZELIMIT_EXCEEDED' %}
                {{ _('Server-side size limit exceeded.') }}
            {% elif msg == 'PERMISSION_DENIED' %}
                {{ _('Permission denied.') }}
            {% elif msg == 'NO_SUCH_OBJECT' %}
                {{ _('No such domain.') }}
            {% else %}
                {# Catch-all #}
                {{ msg }}
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}

{# List all domains under control. #}
{% if allDomains is not string and allDomains |length != 0 %}
<div class="main-frm">
    <form id="list_table" method="post" action="{{ctx.homepath}}/domains">
    <table id="account_list" class="tablesorter">
        <thead>
        <tr>
            <th>{{ _('Domain Name') }}</th>
            <th>{{ _('Users') }}</th>
        </tr>
        </thead>

        {# List domain attributes/avalues. #}
        <tbody>
        {% for i in allDomains %}
            {% set entries = i[1] %}
            {% set domain = entries.get('domainName')[0] |string%}
            {% set accountStatus = entries.get('accountStatus', ['disabled'])[0] %}

            <tr class="{{ loop.cycle('odd', 'even') }} {{ accountStatus |lower }}">
                <td>
                    <span class="float_left">
                        {% if session.get('domainGlobalAdmin') == 'yes' %}
                        <input type="checkbox" name="domainName" value="{{domain}}"/>
                        {% endif %}
                        <a href="{{ctx.homepath}}/profile/domain/general/{{domain}}" alt="{{_('Edit domain profile')}}" title="{{ _('Edit domain profile') }}">{{domain}}</a>
                    </span>
                    <span class="float_right">{{ set_account_status_img(accountStatus) }}</span>
                </td>

                {# Mail user count #}
                <td><a href="{{ctx.homepath}}/users/{{domain}}" title="{{ _('List all mail users.') }}">{{ entries.get('domainCurrentUserNumber', [0])[0] }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if session.get('domainGlobalAdmin') == 'yes' %}
        <div class="frm-buttons">
            <span class="submit">
                <input type="checkbox" id="checkall" />{{ _('Select/Unselect all') }}
                <input type="submit" value="{{ _('Delete') }}" onclick="return confirm('{{ _('Are you sure want to delete selected domain(s) and accounts under it?') }}');" }}" />
            </span>
        </div>
    {% endif %}

    </form>
</div>
        {% endif %}

{% endblock main %}
