{# Defined: domain, profile, mtaTransport #}

{% extends "layout.html" %}
{% from "macros.html" import display_cn, %}
{% from "msgHandlers.html" import domainMsgHandler %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock %}
{% block jquery_docoment_ready %} {% endblock %}
{% block submenu %}{% endblock submenu %}

{% block title %}{{ _('Create new mail domain') }}{% endblock title %}
{% block navlinks_active_domains %}active{% endblock %}

{% block main %}
<div class="admin-submenu gen-content">
    <p><span>{{ _('Create new mail domain') }}</span></p>
</div>

{# Show system message #}
{{ domainMsgHandler(msg) }}

<div class="main-frm">
<form class="frm-form" method="post" action="{{ctx.homepath}}/create/domain">

    <fieldset class="frm-group group1">
        <legend class="group-legend"><strong>{{ _('Domain Name') }}</strong></legend>
        <div class="sf-set set1">
            <div class="sf-box text required">
                <label><span>{{ _('Domain Name') }}<em>{{ _('(Required)') }}</em></span></label>
                <span class="fld-input"><input type="text" name="domainName" size="25" /></span>
            </div>
        </div>
    </fieldset>

    {{ display_cn(accountType='domain') }}

    <div class="frm-buttons">
        <span class="submit">
            <input type="submit" value="{{ _('Create') }}" />
        </span>
    </div>

</form>
</div>

{% endblock main %}
