{# Defined: domain, profile, mtaTransport #}

{% extends "layout.html" %}
{% from "macros.html" import display_cn, %}

{% block js_tablesorter %}{% endblock %}

{% block title %}{{ _('Add new mail domain') }}{% endblock title %}

{% block main %}
<div class="main-subhead">
    <h2 class="hn"><span>{{ _('Create new mail domain') }}</span></h2>
</div>

<div class="main-frm">
<form class="frm-form" method="post" action="{{ctx.homepath}}/create/domain">

    <fieldset class="frm-group group1">
        <legend class="group-legend"><strong>{{ _('Domain name') }}</strong></legend>
        <div class="sf-set set1">
            <div class="sf-box text required">
                <label><span>{{ _('Domain name') }}<em>{{ _('(Required)') }}</em></span></label>
                <span class="fld-input"><input type="text" name="domainName" size="25" /></span>
            </div>
        </div>
    </fieldset>

    {{ display_cn(accountType='domain') }}

    <div class="frm-buttons">
        <span class="submit">
            <input type="submit" value="{{ _('Create') }}" />
        </span>
    </div>

</form>
</div>

{% endblock main %}
