{% extends "layout.html" %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock js_tablesorter %}
{% block jquery_docoment_ready %}{% endblock jquery_docoment_ready %}

{% block title %}
    {{ _('Error:') }}&nbsp;{{ _('Page not found (%s).') |format(ctx.path) }}
{% endblock title %}

{% block main %}
<div class="ct-box info-box">
    <div class="error">
        <span class="important"><strong>{{ _('Error:') }}</strong> {{ _('Page not found (%s).') |format(ctx.path) }}</span>
    </div>
</div>
{% endblock main %}
