{#
#---------------------------------------------------------------------
# This file is part of iRedAdmin-OSE, which is official web-based admin
# panel (Open Source Edition) for iRedMail.
#
# iRedMail is an open source mail server solution for Red Hat(R)
# Enterprise Linux, CentOS, Debian and Ubuntu.
#
# iRedAdmin-OSE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# iRedAdmin-OSE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with iRedAdmin-OSE.  If not, see <http://www.gnu.org/licenses/>.
#---------------------------------------------------------------------
#}

{% extends "layout.html" %}

{% from "msgHandlers.html" import loginMsgHandler with context %}

{% block title %}{{ _('Login to manage your mail domains & users') |title }}{% endblock %}
{% block js %}{% endblock %}
{% block js_tablesorter %}{% endblock %}
{% block jquery_docoment_ready %}{% endblock jquery_docoment_ready %}

{% block extraHeader %}
{# Override default css style, center the login page. #}
<style type="text/css">
    body {
        text-align: center;
    }
    #brd-wrap {
        margin-left: auto;
        margin-right: auto;
        width: 40em;
        text-align: left;
    }
</style>
{% endblock extraHeader %}

{% block main %}
<div id="brd-main">
    <div class="main-head">
        <h2 class="hn"><span>{{ _('Login to manage your mail domains & users') |title }}</span></h2>
    </div>

    {# Show system message #}
    {{ loginMsgHandler(msg) }}

    {# Show login form #}
    <div class="main-frm">
        <form class="frm-form" method="post" action="{{ctx.homepath}}/login">
            <div class="frm-group group1">
                <div class="sf-set set1">
                    <div class="sf-box text required">
                        <label><span>{{ _('Username')}} <em>{{ _('(Required)')}}</em></span><small>{{ _('Must be a valid domain admin email address.') }}</small></label><br />
                        <span class="fld-input"><input type="text" name="username" size="35" /></span>
                    </div>
                </div>

                <div class="sf-set">
                    <div class="sf-box text required">
                        <label><span>{{ _('Password') }} <em>{{ _('(Required)') }}</em></span></label><br />
                        <span class="fld-input"><input type="password" name="password" size="35" /></span>
                    </div>
                </div>

                <div class="sf-set">
                    <div class="sf-box text required">
                        <label><span>{{ _('Preferred language') }}</span></label><br />
                        <span class="fld-input">
                            <select id="selectLang" name="lang" onchange="changeUrl(this, baseurl='{{ctx.homepath}}/login?lang=');">
                            {% for lang in languagemaps %}
                                <option value="{{lang}}" {% if lang == cur_lang %}selected{%endif%}>{{languagemaps[lang]}}</option>
                            {% endfor %}
                            </select>
                        </span>
                    </div>
                </div>

                <div class="sf-set">
                    <div class="sf-box checkbox">
                        <span class="fld-input"><input type="checkbox" name="save_pass" value="yes" /></span>
                        <label><span>{{ _('Remember me')}} </span>{{ _('Log me in automatically each time I visit.') }}</label>
                    </div>
                </div>
            </div>

            <div class="frm-buttons">
                <span class="submit"><input type="submit" value="{{ _('Login') }}" /></span>
            </div>
        </form>
    </div>
</div>
{% endblock main %}

{% block footer %}{%endblock%}
