{# allDomains, domainName, [username, newpw, confirmpw, ] #}
{% extends "layout.html" %}

{% from "macros.html" import display_cn, display_reset_password,
        display_quota, %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock %}
{% block jquery_docoment_ready %} {% endblock %}

{% block title %}{{ _('Create new mail user') }}{% endblock title %}

{% block main %}
<div class="main-subhead">
    <h2 class="hn"><span>{{ _('Create new mail user') }}</span></h2>
</div>

{# Display input field for adding new domain. #}
<div class="main-frm">
    <form class="frm-form" method="post" method="{{ctx.homepath}}/create/user">

    <fieldset class="frm-group group1">
        <legend class="group-legend"><strong>{{ _('Mail address') }}</strong></legend>
        <div class="sf-set set1">
            <div class="sf-box text required">
                <label><span>{{ _('Mail address') }} <em>{{ _('(Required)') }}</em></span></label>
                <span class="fld-input"><input type="text" size="25" name="username" value="{{username}}" />@
                    <select name="domainName">
                        {% for domain in allDomains %}
                            <option value="{{domain[1].domainName[0]}}" {% if domain[1].domainName[0] == domainName %}selected{%endif%}>{{domain[1].domainName[0]}}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
        </div>
    </fieldset>

    {{ display_cn(value=cn, accountType='user') }}

    {{ display_quota(default_quota) }}

    {{ display_reset_password() }}

    <div class="frm-buttons">
        <span class="submit">
            <input type="submit" value="{{ _('Create') }}" />
        </span>
    </div>

</form>
</div>

{% endblock main %}
