{# profile_type, mail, user_profile, [msg], #}
{% extends "layout.html" %}

{% from "macros.html" import
        set_account_status_img,
        display_quota,
        display_cn,
        display_employeeid,
        display_phone,
        display_account_status,
        display_password_policy,
        display_reset_password,
        with context
        %}

{% block js %}{% endblock js %}
{% block js_tablesorter %}{% endblock js_tablesorter %}
{% block jquery_docoment_ready %}{% endblock jquery_docoment_ready %}

{% block title %}{{ _('Edit user profile') }}{% endblock %}
{% block navlinks_active_users %}active{% endblock %}

{# User profile. #}

{# Show profile categories #}
{% block id_welcome %}
<span><a href="{{ctx.homepath}}/profile/user/general/{{mail}}" {% if profile_type == 'general' %}class="active"{%endif%}>{{ _('General') }}</a>&nbsp;</span>
<span><a href="{{ctx.homepath}}/profile/user/password/{{mail}}" {% if profile_type == 'password' %}class="active"{%endif%}>{{ _('Reset Password') }}</a>&nbsp;</span>
{% endblock id_welcome %}

{% block id_visit_links %}
<span><a href="{{ctx.homepath}}/users/{{mail.split('@', 1)[1]}}">{{ _('Back to user list') }}</a></span>
{% endblock id_visit_links %}

{% block main %}
{# message #}
{% if msg is defined and msg is not sameas none %}
    <div class="ct-box info-box">
        {% if msg == 'USER_CREATED_SUCCESS' %}
        <div class="success">
            {{ _('User created. Would you like to <a href="%s/create/user/%s">add one more</a>?' |format(ctx.homepath, mail.split('@', 1)[1] )) }}
        </div>
        {% elif msg == 'USER_PROFILE_UPDATED_SUCCESS' %}
        <div class="success">
            {{ _('Profile updated success.') }}
        </div>
        {% elif msg == 'UPDATED_FAILED' %}
        <div class="error">
            {{ _('Profile updated failed.') }}
        </div>
        {% else %}
            {# Password #}
            {% if profile_type == 'password' %}
            <div class="error">
                {% if msg == 'PW_MISMATCH' %}
                    {{ _('New passwords are not match.') }}
                {% elif msg == 'PW_EMPTY' %}
                    {{ _('Password is empty.') }}
                {% elif msg == 'PW_LESS_THAN_MIN_LENGTH' %}
                    {{ _('New password must contain at least %s characters.') |format(min_passwd_length) }}
                {% elif msg == 'PW_GREATER_THAN_MAX_LENGTH' %}
                    {{ _('New password must NOT contain more than %s characters.') |format(max_passwd_length) }}
                {% else %}
                {# Catch-all #}
                <div class="error">
                    {{ msg }}
                </div>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}

{% set user = user_profile[0] %}
{% set entries = user[1] %}
{% set cn = entries.get('cn', [''])[0].decode('utf-8') %}
{% set mail = entries.get('mail')[0] %}
{% set username, domain = mail.split('@', 1) %}
{% set employeeNumber = entries.get('employeeNumber', [''])[0].decode('utf-8') %}
{% set jpegPhoto = entries.get('jpegPhoto', [''])[0] %}
{% set createTimestamp = entries.get('createTimestamp', ['--------------'])[0] %}
{% set accountStatus = entries.get('accountStatus', ['disabled'])[0] %}

{% if profile_type == 'general' %}
    {% set telephoneNumber = entries.get('telephoneNumber', []) %}
    {% set mailQuota = entries.get('mailQuota', [0])[0] %}
{% endif %}

<form class="frm-form" method="post" action="{{ctx.homepath}}/profile/user/{{profile_type}}/{{mail}}">
<div class="main-frm">
    <div class="profile ct-group data-group vcard">
        <div class="ct-set data-set set1">
            <div class="ct-box data-box">
                <ul class="user-ident ct-legend">
                    <li class="useravatar">{% if jpegPhoto |length != 0 %}<img src="{{ctx.homepath}}/img/{{jpegPhoto.encode('base64')}}" width="120" alt="" />{%else%}{{ _('No avatar available.') }}{%endif%}</li>
                </ul>
                <ul class="data-list">
                    <li class="username fn nickname"><span>{{ _('Display Name') }}{{_(':')}} <strong>{% if cn != 'None'  %}{{cn}}{% endif %}</strong></span></li>
                    <li><span>{{ _('Mail Address') }}{{_(':')}} <strong>{{mail}}</strong> {{ set_account_status_img(accountStatus) }}</span></li>
                    <li><span>{{ _('Employee ID') }}{{_(':')}} <strong>{{employeeNumber}}</strong></span></li>
                    <li><span>{{ _('Created Date') }}{{_(':')}} <strong>{{createTimestamp[:4]}}-{{createTimestamp[4:6]}}-{{createTimestamp[6:8]}} {{createTimestamp[8:10]}}:{{createTimestamp[10:12]}}:{{createTimestamp[12:14]}}</strong></span></li>
                </ul>
            </div>
        </div>
    </div>

    {% if profile_type == 'general' %}
        {{ display_account_status(accountStatus) }}
        {{ display_cn(cn, firstitem='no') }}
        {{ display_employeeid(employeeNumber) }}
        {{ display_quota(value=mailQuota, firstitem='no' ) }}
        {{ display_phone(value=telephoneNumber) }}
    {% endif %}

    {% if profile_type == 'password' %}
        {{ display_password_policy(
            min_passwd_length=min_passwd_length,
            max_passwd_length=max_passwd_length)
            }}

        {{ display_reset_password(show_confirmpw='yes') }}
    {% endif %}

    <div class="frm-buttons">
        <span class="submit">
            <input type="submit" value="{{ _('Save changes') }}" />
        </span>
    </div>

</div>
</form>
{% endblock main %}
