{% extends "layout.html" %}

{% from "macros/general.html" import
        display_subnav,
        display_csrf_token,
        set_account_status_img,
        display_button_submit,
        display_input_cn,
        display_account_status,
        with context
        %}

{% from "macros/msgHandlers.html" import domainMsgHandler with context %}

{% block title %}{{ _('Edit account profile') }}{% endblock %}
{% block navlinks_active_domains %}class="active"{% endblock %}

{% block breadcrumb %}
    {% set crumbs = [
            (ctx.homepath + '/domains', _('All domains'),),
            ('active', ctx.homepath + '/profile/domain/general/' + cur_domain, cur_domain,),
            (ctx.homepath + '/users/' + cur_domain, _('Users'),),
            ]
            %}
    {{ display_subnav(crumbs) }}
{% endblock %}


{# Domain profile. #}
{% block main %}

{% set input_csrf_token = display_csrf_token() %}

{# Show system message #}
{{ domainMsgHandler(msg) }}

{% set navlinks = [
                ('general', _('General'), [true,]),
                ]
                %}

<div class="content-box">
    <div class="box-body">

        {#-- Links --#}
        <div class="box-header clear">
            <ul class="tabs clear">
                {% for nav in navlinks %}
                    {% if not false in nav[2] and not none in nav[2] %}
                        <li><a href="#profile_{{ nav[0] }}">{{ nav[1] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h2>{{ _('Profile of domain:') }} {{ cur_domain }}</h2>
        </div>{# .box-header #}

        <div class="box-wrap clear">
            {# profile_type: general #}
            <div id="profile_general">
                <form name="general" method="post" action="{{ctx.homepath}}/profile/domain/general/{{cur_domain}}">
                    {{ input_csrf_token }}
                    <div class="columns clear">
                        <div class="col2-3 ">
                            {% if session.get('domainGlobalAdmin') is sameas true %}
                                {{ display_account_status(profile.active, accountType='domain') }}
                            {% endif %}

                            {{ display_input_cn(profile.description, accountType='domain') }}
                        </div>{# .col2-3 #}
                    </div>

                    <div class="columns clear">
                        <div class="col2-3 ">
                            <div class="bt-space0">&nbsp;</div>
                            {% if session.get('domainGlobalAdmin') is sameas true %}
                                {% if profile.maxquota >= 1024*1024 %}
                                    {% set domainQuota = profile.maxquota / (1024*1024) %}
                                    {% set domainQuotaUnit = 'TB' %}
                                {% elif 1024*1024 > profile.maxquota >= 1024 %}
                                    {% set domainQuota = profile.maxquota / 1024 %}
                                    {% set domainQuotaUnit = 'GB' %}
                                {% else %}
                                    {% set domainQuota = profile.maxquota %}
                                    {% set domainQuotaUnit = 'MB' %}
                                {% endif %}
                            {% endif %}
                        </div>{# .col2-3 #}
                    </div>{# .columns #}

                    {{ display_button_submit() }}
                </form>
            </div>

        </div>{# .box-wrap #}
    </div>{# .box-body #}
</div>{# .content-box #}
{% endblock main %}
